.markdown {
  @apply relative ml-[46px] w-[calc(100%-46px)];

  & > * {
    @apply mb-[46px] mr-[16px] mt-[5px];

    &::before {
      content: "";

      background-image: url("https://avatars.githubusercontent.com/u/44913775?v=4");
      background-size: cover;

      @apply absolute -left-[46px] inline-block h-[32px] w-[32px] rounded-full bg-slate-500;
    }
  }

  & > details {
    @apply mb-0;
  }

  img {
    @apply inline border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  code {
    &:not(pre *) {
      background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);

      @apply rounded-sm px-[2px] py-[1px] text-xs text-white;
    }
  }

  a {
    @apply text-[#00376B];

    &[href^="#user-content-fn-"] {
      @apply before:content-["["] after:content-["]"];
    }

    &[href^="#user-content-fnref-"] {
      @apply no-underline;
    }
  }

  ol,
  ul {
    @apply list-[revert] pl-8;
  }

  li {
    @apply mt-1;
  }

  > details {
    & > *:not(summary) {
      @apply mb-[46px] ml-[46px] mt-[5px];

      &::before {
        content: "";

        background-image: url("./profile.jpg");
        background-size: cover;

        @apply absolute -left-[46px] ml-[46px] inline-block h-[32px] w-[32px] rounded-full bg-slate-500;
      }
    }

    & > details > *:not(summary) {
      @apply mb-[46px] ml-[46px] mt-[5px];

      &::before {
        content: "";

        background-image: url("./profile.jpg");
        background-size: cover;

        @apply absolute -left-[46px] ml-[92px] inline-block h-[32px] w-[32px] rounded-full bg-slate-500;
      }
    }

    &[open] {
      & > summary {
        &::after {
          content: " ――ㅤ답글 숨기기";
        }
      }

      & > details[open] {
        & > summary {
          &::after {
            content: " ――ㅤ답글 숨기기";
          }
        }
      }
    }

    summary {
      @apply mb-[32px] cursor-pointer list-none;

      &::after {
        content: " ――ㅤ답글 보기";

        @apply ml-[8px] mt-[16px] block w-full text-xs font-semibold text-secondaryText;
      }

      &::-webkit-details-marker {
        @apply hidden;
      }
    }
  }

  table {
    tr,
    th,
    td {
      @apply border border-gray-300;
    }

    th,
    td {
      @apply px-3 py-1.5;
    }
  }

  blockquote {
    @apply text-secondaryText;

    &::before {
      background-image: url("./user.jpg");
    }
  }

  iframe {
    @apply w-full;
  }
}
