.issue-header-modal {
  @apply fixed inset-0 z-50 flex items-center justify-center;

  animation-name: fade-out-and-scale-down;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 0.1s;
}

.issue-header-modal-list {
  @apply bg-igBannerBackground dark:bg-igBannerBackgroundDark;

  li {
    @apply border-igStroke dark:border-igStrokeDark h-[48px] cursor-pointer border-b text-[14px];

    &:last-child {
      @apply border-b-0;
    }

    &:active {
      @apply bg-black/[.1];
    }
  }
}
